target/classes/hellocicdworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="20bb304e-05f1-4488-b56f-58cc4f5fca28" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="hellocicdworldFlow" doc:id="9b76b6f5-dfcf-46e6-afa8-5f7dde364686" >
		<http:listener doc:name="Listener" doc:id="bdd25f3c-c790-4e65-830a-4cba38147f81" config-ref="HTTP_Listener_config" path="/azureDemo"/>
		<set-payload value='#["Hello Azure from Mulesoft CICD"]' doc:name="Set Payload" doc:id="0cf09c00-4a59-4db7-bbe7-3aebd77fd900" />
		<logger level="INFO" doc:name="Logger" doc:id="44e911cd-620c-494b-94b3-152cb9ca65d4" />
	</flow>
</mule>
